<%- include('partials/header') %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li> <a class="active-cat" href="/">Movies</a></li>
                    <li> <a class="active-cat" href="/tv/tv-shows">Tv Shows</a></li>
                    <li><a class="active-cat" href="/blog/posts">Blog</a></li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Discover</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><i class="fas fa-heart"></i><a class="active-cat" href="/">Popular</a></li>
                    <li><i class="fas fa-chart-bar"></i><a class="active-cat" href="/movie/top_rated">Top Rated</a></li>
                    <li><i class="fas fa-calendar-week"></i><a class="active-cat" href="/movie/upcoming">Upcoming</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category movie-genres">
            <div class="category-title">
                <h2>Genres</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(genres){%>
                    <% genres.forEach(genre=>{ %>
                    <li><i class="fas fa-dot-circle"></i><a class="active-cat"
                            href="/movie/genres/<%= genre.name %>"><%= genre.name %></a></li>

                    <%})%>
                    <%}%>

                </ul>
            </div>


        </div>
        <div class="main-category discover-movies appearance">
            <div class="category-title">
                <h2 class="discover">Appearance</h2>
            </div>
            <div class="category-types">
                <ul class="categories setting">
                    <li><i class="fas fa-moon"></i>light/dark mode</li>
                    <div>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="label">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
                </ul>
            </div>
  
        </div>
        <div class="side-drawer-btns">
            <button class="browse-btn">Sign-Up</button>
            <button class="browse-btn">Login</button>
        </div>
        <div class="credits">
            <h5>powered by</h5>
            <img src="/moviedb-logo2.svg" alt="moviedb">
        </div>

    </div>
    
</div>
<section class="side-drawer-backdrop"></section>
<div class="multi-search-modal" >
    <div class="multi-search-wrapper" >
        <form action="/search" method="GET" class="multi-search-form">
            <div class="multi-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="multi-search" placeholder="search for movies, tv shows or cast members..." name="query" autofocus>
                <input type="submit" value="search" hidden>
            </div>
        </form>
        <div class="multi-search-cancel"><i class="fas fa-times"></i></div>
        
    </div>
</div>



<section id="header-container">
    <div class="wrapper-enclosure-home">
        <div class="new-header-wrapper">
            <div class="new-header-left">
                <div class="embla autoplay__embla">
                    <div class="autoplay">
                        <div class="embla__container">
                            <% if(headerMovies){%>
                                <% headerMovies.forEach((movie, index)=>{%>
                                    <div class="embla__slide autoplay__slide" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 25, 39, 0.9)), url(https://image.tmdb.org/t/p/w1280/<%=movie.backdrop_path%>); background-size: cover; background-position: center">
                                        <div class="embla__slide__inner">
                                            <div class="new-movie-wrapper">
                                                <% if(movie.poster_path){%> 
                                                    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %>">
                                                    <%}else if(movie.poster_path === null){%>
                                                        <img src="/noposter.svg" alt="movie-poster">
                                                    <% } %>
                                                    
                                                <div class="new-header-movie">
                                                    <h1 class="movie-title"><%= movie.title %></h1>
                                                    <% if(movie.tagline){%>
                                                        <p class="tagline">"<%= movie.tagline%>"</p>
                                                    <% }%>
                                                    <% if(movie.overview.length > 60){%> 
                                                        <p class="clamp-synopsis">
                                                            <%= movie.overview%> 
                                                        </p>
                                                    <% }else{%>
                                                        <p class="no-clamp"><%= movie.overview%></p>
                                                    <% } %>  

                                                    <div class="swiper-btns new-header-btn">
                                                        <a  href="/movie/<%= movie.id %>" class="swiper-btn" role="button">More info</a>
                                                        <button class="swiper-btn header-trailer" data-source="https://www.youtube.com/embed/<%= headerVideos[index]?.key%>"><i class="fas fa-play"></i>Trailer</button>
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                            
                                            
        
                                            
                                        </div>
                                    </div>

                               <% }) %> 
                                
                            <% } %> 
                            
                        </div>
                    </div>
                    <!-- Dots -->
                    <div class="embla__dots"></div>
    
                    <!-- Buttons -->
                    <button class="embla__button embla__button--prev circular-btn" type="button">
                        <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                            <path
                                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                            </path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next circular-btn" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                            <path
                                d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="simple-bar" class="new-header-right">
                <a class="sticky-header" href="/movie/upcoming">Now Playing<i class="fas fa-chevron-right"></i></a>
                <div class="top-rated-wrapper">
                    <% if(topRated){%>
                        <% topRated.forEach((movie, index)=>{%>
                            <div class="top-rated-movie">
                                <% if(movie.poster_path){%> 
                                    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="">
                                <%}else if(movie.poster_path === null){%>
                                    <img src="/noposter.svg" alt="<%= movie.title %>">
                                <% } %>
                                <div>
                                    <h3 class="movie-title"><%= movie.title %></h3>
                                    <p>
                                        <%= movie.overview%> 
                                    </p>
                                    <div class="swiper-btns top-rated-btn">
                                        <a  href="/movie/<%= movie.id %>" class="swiper-btn" role="button">More info</a>
                                        <button class="swiper-btn header-trailer" data-source="https://www.youtube.com/embed/<%= topRatedVideos[index]?.key%>"><i class="fas fa-play"></i></button>
                                    </div>
                                    
                                      

                                </div>


                            </div>

                        <%}) %> 

                    <%} %> 
                </div>
            </div>
        </div>
        <div class="featured">
            <div class="featured-title">
                <h2>Upcoming Movies</h2>
                <a  href="/movie/upcoming">view all</a>
            </div>
            <% if(featured){%>
                <div class="embla ">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <% featured.forEach(mov=>{%>
                                <div class="embla__slide" >
                                    <div class="slider-inner-card featured-card embla__slide__inner viewed-card">
                                        <% if(mov.poster_path){%>
                                            <a class="image" href="/movie/<%= mov.id %>" title="<%= mov.title %> ">
                                                <img src="https://image.tmdb.org/t/p/w1280/<%=mov.backdrop_path%>" alt="<%= mov.title %>">
                                            </a>
                                            <%}else if(mov.poster_path === null){%>
                                            <a class="image" href="/movie/<%= mov.id %>" title="<%= mov.title %> ">
                                                <img src="/noposter.svg" alt="<%= mov.title %>">
                                            </a>
                                        <% }%>
                                        <div class="image-drop">
                                            <%if(mov.title){%>
                                                <h3><%= mov.title%></h3>
                                                <%}else {%>
                                                    <h3>n/a</h3>
                                                <%}%> 
                                        </div>
                                    </div>
                                    
                                </div>
                            <%}) %>
                            <div class="embla__slide " >
                                <div class="embla__slide__inner see-more-upcoming ">
                                    <a href="/movie/upcoming" >View More >></a>
                                </div>
                            </div>
                            
                        </div>
            
                    </div>
                    <button class="embla__button embla__button--prev square__btn embla__upcoming__prev" type="button">
                        <svg
                          class="embla__button__svg"
                          viewBox="137.718 -1.001 366.563 643.999"
                        >
                          <path
                            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                          ></path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next square__btn embla__upcoming__next" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                          <path
                            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                          ></path>
                        </svg>
                    </button>
                      
                    
                </div>
            <% } %> 
        </div>
    </div>
    
</section>

<div class="movie-trailer">
    <div class="trailer-container">
        <div class="trailer-video">
            <iframe class="video_player" width="100%" height="100%" src=""  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <img class="close-trailer" src="/multiply.png" alt="close">  
    </div>
</div>
<div class="welcome-banner-modal">
    <div class="welcome-banner">
        <div class="banner-header">
            <h1>Explore what2watch.net</h1>
            <img class="close-banner close-up" src="/multiply.png" alt="close">
        </div>
        <div class="banner-content">
            <div class="banner-logo">
                <img src="/logo.png" alt="what2watch">
            </div>
            <h2>Welcome!</h2>
            <p>Explore thousands of movies and find what to watch in a hassle-free way. What are you waiting for?</p>
            <div class="swiper-btns new-header-btn">
                <button class="swiper-btn close-banner-btn close-up">Let's go!</button>
            </div>
        </div>
    </div>
</div>



<section id="trending">
    <div class="wrapper-enclosure">
        <div class="ads-banner" style="margin-top: 1.5rem;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                crossorigin="anonymous"></script>
            <!-- what2watch-ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9179075773135399"
                data-ad-slot="3348121714"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        
        <div class="trending-header">
            <div class="trending-headings">
                <h1><i class="fas fa-bolt"></i>New & Trending</h1>
                <div class="timeline">
                    <h2 id="today" class="today active-timeline" >Today</h2>
                    <h2 id="this-week">This Week</h2> 
                </div>  
            </div>
            <div class="line-container">
            </div>
    
        </div>

    </div>
    

    <div class="trending-big-wrapper">
        <div id="trending-thisweek">
            <div  class="embla trending__embla">
                <div class="embla__viewport ">
                    <div class="embla__container">
                        <% if(trending){%>
                        <% trending.forEach(function(movie){%>
                            <div class="embla__slide trending__slide">
                                <div class="movie-card-container embla__slide__inner">
                                    <div class="movie-card viewed-card">
                                        <% if(movie.poster_path){%>
                                        <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                            <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %>">
                                        </a>
                                        <%}else if(movie.poster_path === null){%>
                                        <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                            <img src="/noposter.svg" alt="<%= movie.title %>">
                                        </a>
                    
                                        <% } %>
                                        <a href="/movie/<%= movie.id %>">
                                            <div class="movie-card-overlay">
                                                <div>
                                                    <%if(movie.title){%>
                                                        <h2 class="movie-rating"><i class="fas fa-star"></i><span><%= movie.vote_average %></span></h2>
                                                    <%}%> 
                                                        <h4><%= movie.release_date?movie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                                    </h4>
                                                </div>
                                                <p><%= movie.overview?movie.overview.substr(0, 100):"n/a"%>...</p>
                                                <button class="swiper-btn overlay-btn">View Details</button>
                    
                                            </div>
                                        </a>
                    
                                    </div>
                                    <div class="movie-details">
                                        <a href="/movie/<%= movie.id %>">
                                            <%= movie.title.length>18?movie.title.slice(0,19) + "...":movie.title%>
                                        </a>
                                        <div>
                                            <span><%= movie.release_date?movie.release_date.split('').slice(0, 4).join(''):"n/a" %></span>
                                            <%for(let genreId of movie.genre_ids.slice(0, 2)){%>
                                            <%for(let genre of genres){%>
                                            <%if(genreId === genre.id){%>
                                            <span class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                                            </span>
                                            <% } %>
                                            <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        
                        <%})%>
                        <%}%> 
                    </div>
        
                </div>
                
                <button class="embla__button embla__button--prev trending__prev" type="button">
                    <svg
                      class="embla__button__svg"
                      viewBox="137.718 -1.001 366.563 643.999"
                    >
                      <path
                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                      ></path>
                    </svg>
                </button>
                <button class="embla__button embla__button--next trending__next" type="button">
                    <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                      <path
                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                      ></path>
                    </svg>
                </button>
            </div>
        </div>
        
        <div id="trending-today">
            <div  class="embla trending__embla">
                <div class="embla__viewport ">
                    <div class="embla__container">
                        <% if(trendingToday){%>
                        <% trendingToday.forEach(function(movie){%>
                            <div class="embla__slide trending__slide">
                                <div class="movie-card-container embla__slide__inner">
                                    <div class="movie-card viewed-card">
                                        <% if(movie.poster_path){%>
                                        <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                            <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %>">
                                        </a>
                                        <%}else if(movie.poster_path === null){%>
                                        <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                            <img src="/noposter.svg" alt="<%= movie.title %>">
                                        </a>
                    
                                        <% } %>
                                        <a href="/movie/<%= movie.id %>">
                                            <div class="movie-card-overlay">
                                                <div>
                                                    <%if(movie.title){%>
                                                        <h2 class="movie-rating"><i class="fas fa-star"></i><span><%= movie.vote_average %></span></h2>
                                                    <%}%> 
                                                        <h4><%= movie.release_date?movie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                                    </h4>
                                                </div>
                                                <p><%= movie.overview?movie.overview.substr(0, 100):"n/a"%>...</p>
                                                <button class="swiper-btn overlay-btn">View Details</button>
                    
                                            </div>
                                        </a>
                    
                                    </div>
                                    <div class="movie-details">
                                        <div>
                                            <a href="/movie/<%= movie.id %>">
                                                <%= movie.title.length>18?movie.title.slice(0,19) + "...":movie.title%>
                                            </a>
                                        </div>
                                        <div>
                                            <span><%= movie.release_date?movie.release_date.split('').slice(0, 4).join(''):"n/a" %></span>
                                            <%for(let genreId of movie.genre_ids.slice(0, 2)){%>
                                            <%for(let genre of genres){%>
                                            <%if(genreId === genre.id){%>
                                            <span class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                                            </span>
                                            <% } %>
                                            <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        
                        <%})%>
                        <%}%> 
                    </div>
        
                </div>
                
                <button class="embla__button embla__button--prev trending__prev" type="button">
                    <svg
                      class="embla__button__svg"
                      viewBox="137.718 -1.001 366.563 643.999"
                    >
                      <path
                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                      ></path>
                    </svg>
                </button>
                <button class="embla__button embla__button--next trending__next" type="button">
                    <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                      <path
                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                      ></path>
                    </svg>
                </button>
            </div>
        </div>
            
        
    </div>
    
</section>
<section id="popular-movies">
    <div class="wrapper-enclosure">
        <div class="ads-banner" style="margin-top: 1.5rem;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                crossorigin="anonymous"></script>
            <!-- what2watch-ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9179075773135399"
                data-ad-slot="3348121714"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="movies-container">
            <h1 class="popular"><i class="fas fa-fire"></i>Popular Movies</h1>
            <div class="line-container">
                <!-- <div class="line"></div> -->
            </div>
            <div class="embla sort-genres">
                <div class="embla__viewport">
                    <div class="embla__container">
                        <% if(genres){%> 
                            <%genres.forEach(genre=>{ %>
                                <div class="embla__slide embla__tag">
                                    <a  href="/movie/genres/<%= genre.name%>"><%= genre.name === "Science Fiction"? "Sci-Fi" : genre.name %></a>
                                </div>
                            <%}) %>
    
                        <% } %> 
                    </div>
        
                </div>
                <button class="embla__button embla__button--prev embla__genre__prev" type="button">
                    <svg
                      class="embla__button__svg"
                      viewBox="137.718 -1.001 366.563 643.999"
                    >
                      <path
                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                      ></path>
                    </svg>
                </button>
                <button class="embla__button embla__button--next embla__genre__next" type="button">
                    <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                      <path
                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                      ></path>
                    </svg>
                </button>
                  
                
            </div>
            <div class="movie-wrapper">
                <% if(popularMovies){%>
                <% popularMovies.forEach(function(popularMovie){%>
                <div class="movie-card-container">
                    <div class="movie-card viewed-card">
                        <% if(popularMovie.poster_path){%>
                        <a class="image" href="/movie/<%= popularMovie.id %>" title="<%= popularMovie.title %> ">
                            <img src="https://image.tmdb.org/t/p/w500/<%= popularMovie.poster_path %>"
                                alt="<%= popularMovie.title %>">
                        </a>
                        <%}else if(popularMovie.poster_path === null){%>
                        <a class="image" href="/movie/<%= popularMovie.id %>" title="<%= popularMovie.title %> ">
                            <img src="/noposter.svg" alt="">
                        </a>
    
                        <% } %>
                        <a href="/movie/<%= popularMovie.id %>">
                            <div class="movie-card-overlay">
                                <div>
                                    <%if(popularMovie.title){%>
                                        <h2 class="movie-rating"><i class="fas fa-star"></i><span><%= popularMovie.vote_average %></span></h2>
                                    <%}%> 
                                    <h4><%= popularMovie.release_date?popularMovie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                    </h4>
                                </div>
                                <p><%= popularMovie.overview?popularMovie.overview.substr(0, 100):"n/a"%>...</p>
                                <button class="swiper-btn overlay-btn">View Details</button>
    
                            </div>
                        </a>
    
                    </div>
                    <div class="movie-details">
                        <div>
                            <a href="/movie/<%= popularMovie.id %>">
                                <%= popularMovie.title %>
                            </a>
                            
                        </div>
                        <div>
                            <span><%= popularMovie.release_date?popularMovie.release_date.split('').slice(0, 4).join(''):"n/a" %></span>
                            <%for(let genreId of popularMovie.genre_ids.slice(0, 2)){%>
                            <%for(let genre of genres){%>
                            <%if(genreId === genre.id){%>
                            <span class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                            </span>
                            <% } %>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <%})%>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
    
                <% }else{%>
                <h1>Oops! Something went wrong. Please try again later.</h1>
                <% } %>
    
            </div>
        </div>
        <div class="page-controls">
            <% if(page_num > 1) {%>
            <a href="/<%= page_num - 1 %> " class="prev-page swiper-btn" role="button"><i
                    class="fas fa-arrow-circle-left prev-indicator"></i>page <%= page_num - 1 %> </a>
    
            <% }%>
            <button class="page-count swiper-btn"><%= page_num %> / <%= pages %></button>
            <% if(page_num < pages) {%>
            <a href="/<%= page_num + 1 %> " class="next-page swiper-btn" role="button" value="next-page">page <%= page_num + 1 %><i
                    class="fas fa-arrow-circle-right next-indicator"></i></a>
    
    
            <% } %>
    
        </div>
        <div class="ads-banner" style="margin-top: 1.5rem;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                crossorigin="anonymous"></script>
            <!-- what2watch-ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9179075773135399"
                data-ad-slot="3348121714"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <% if(stories.length){%>
            <div class="older-posts">
                <div class="featured-title">
                    <h2>Latest Blog Posts</h2>
                    <a  href="/blog/posts">view all</a>
                </div>
                <div class="older-posts-inner">
                    <div class="embla old-posts-embla">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <% stories.forEach((story) =>{%>
                                <div class="embla__slide">
                                    <div class="embla__slide__inner slider-inner-card featured-card">
                                        <a href="/blog/posts/<%= story.slug%>">
                                            <div class="post">
                                                <img src="<%= story.photo%>" alt="<%= story.title%>">
                                                <h5 class="cat-name"><%= story.category%></h5>
                                                <h3><%= story.title%></h3>
                                                <h5 class="date"> <span>by
                                                        <strong><%= story.author%></strong></span>
                                                    <span><%=story.createdAt%></span></h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <% }) %>

                            </div>

                        </div>
                        <button class="embla__button embla__button--prev square__btn old-embla-btn"
                            type="button">
                            <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                                <path
                                    d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                </path>
                            </svg>
                        </button>
                        <button class="embla__button embla__button--next square__btn old-embla-btn"
                            type="button">
                            <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                                <path
                                    d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                </path>
                            </svg>
                        </button>


                    </div>

                </div>
            </div>

            <% } %>

    </div>
</section>

<%- include('partials/footer') %>
