<!-- <section id="header-container"style="background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(https://image.tmdb.org/t/p/w1280/<%=header.backdrop_path%>); background-size: cover;">
    <div class="small-screen-search search-bar" >
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>
    <div class="wrapper-enclosure-home">
        <div class="header-note">
            <h2>
                Explore and Discover<br>
                Your Favourite Movies and More. 
            </h2>
            <p>With thousands of movies to explore, your options are limitless. Get to know what movies to watch or stream in a hassle-free way.</p>
        
        </div>
    
        <div class="header-search-container">
            <form action="/search" method="GET" class="header-form">
                <div class="search-input">
                    <i class="fas fa-search left-search-icon"></i>
                    <input type="text" placeholder="Search for a movie..." name="query" required>
                    <button type="submit" class="submit-btn"><span class="header-search-text">Explore</span><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="featured">
            <div class="featured-title">
                <a  href="/movie/upcoming">Upcoming Movies <i class="fas fa-chevron-right"></i></a>
            </div>
            <% if(featured){%>
                <div class="embla ">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <% featured.forEach(mov=>{%>
                                <div class="embla__slide" >
                                    <div class="slider-inner-card featured-card embla__slide__inner">
                                        <% if(mov.poster_path){%>
                                            <a class="image" href="/movie/<%= mov.id %>" title="<%= mov.title %> ">
                                                <img src="https://image.tmdb.org/t/p/w500/<%= mov.poster_path %>" alt="movie-poster">
                                            </a>
                                            <%}else if(mov.poster_path === null){%>
                                            <a class="image" href="/movie/<%= mov.id %>" title="<%= mov.title %> ">
                                                <img src="/poster-alt.png" alt="movie-poster">
                                            </a>
                                        <% } %>
                                        <div class="image-drop">
                                            <%if(mov.title){%>
                                                <h3><%= mov.title%></h3>
                                                <%}else {%>
                                                    <h3>n/a</h3>
                                                <%}%> 
                                        </div>
                                    </div>
                                    
                                </div>
                            <%}) %>
                            <div class="embla__slide " >
                                <div class="embla__slide__inner see-more-upcoming ">
                                    <a href="/movie/upcoming" >View More >></a>
                                </div>
                            </div>
                            
                        </div>
            
                    </div>
                    <button class="embla__button embla__button--prev square__btn embla__upcoming__prev" type="button">
                        <svg
                          class="embla__button__svg"
                          viewBox="137.718 -1.001 366.563 643.999"
                        >
                          <path
                            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                          ></path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next square__btn embla__upcoming__next" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                          <path
                            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                          ></path>
                        </svg>
                    </button>
                      
                    
                </div>
            <% } %> 
        </div>

    </div>
</section> -->



<!-- <%if(movie){%>
    <div class="single-movie-wrapper">
        <div class="wrapper-enclosure">
            <button class="back back-movie"><i
                    class="fas fa-arrow-left go-back go-back-nav"></i></button>
            <div class="single-movie-inner">
                <div class="single-movie-content">
                    <div class="single-movie-card">
                        <% if(movie.poster_path){%>
                        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.name %> ">
                        <%}else if(movie.poster_path === null){%>
                        <img src="/poster-alt.png" alt="movie-poster">
                        <% } %>
                        <%if(watch){%>
                        <div class="watch-banner">
                            <img class="provider-img" src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path%> " alt="<%= provider.provider_name %>">
                            <div><h4>Watch on <%= provider.provider_name %></h4></div>
                            
                        </div>
                        <% } %>
                    </div>

                    <div class="main-content">
                        <div class="swiper-main-title">
                            <h1 class="movie-title"><%= movie.name %></h1>
                            </span></p>
                            <div class="language-container top-lang">
                                <% if(movie?.spoken_languages){%>
                                <% for(let language of movie?.spoken_languages.slice(0, 3)){%>
                                <span class="language"><%= language.name %><i
                                        class="fas fa-dot-circle"></i></span>

                                <% } %>
                                <% } %>
                                <p class="run-time">Episode run-time (<%= movie.episode_run_time %>mins)</p>
                                <p class="release-date">
                                    <span>|</span>
                                    <%= movie.first_air_date?movie.first_air_date:"n/a" %>
                                </p>
                            </div>

                        </div>
                        <div class="genres-and-director top-genres">
                            <div class="genres">
                                <%for(let genre of movie.genres.slice(0, 3)){%>
                                <span class="genre1 genre-span">
                                    <a href="/tv/genres/<%= genre.name %>"><%= genre.name %></a></span>
                                <% } %>
                                <p class="movie-rating"><i
                                        class="fas fa-star"></i><span><%= movie.vote_average %></span>
                                </p>
                            </div>
                        </div>

                        <div class="synopsis">
                            <% if(movie.tagline){%>
                            <p class="tagline">"<%= movie.tagline%>"</p>
                            <% }%>
                            <% if(movie.overview.length > 100){%>
                            <p class="clamp-synopsis">
                                <%= movie.overview%>
                                
                            </p>
                            <span class="open-synopsis synopsis-read-more">Read more</span>
                            <% }else{%>
                            <p class="no-clamp"><%= movie.overview%></p>
                            <% } %>
                            <%if(crews){%>
                            <div class="crews crews-top">
                                <% for(let person of crews){%>
                                <div class="director">
                                    <a class="crew-name" href="#"><%= person.name %></a>
                                    <h5><%= person.job %> </h5>
                                </div>

                                <% } %>

                            </div>
                            <%} %>
                        </div>
                        <% if(watch){%>
                        <div class="watch-providers">
                            <div class="watch-title">
                                <h2>Where to Watch</h2>
                                <div class="just-watch">
                                    <p>Powered by</p>
                                    <img src="/justwatch-logo.png" alt="just-watch">
                                </div>
                            </div>
                            <a href="<%= watch.link%>" target="_blank">
                                <div class="watch-providers-inner">
                                    <% if(watch.rent) {%>
                                    <% for(let provider of watch.rent){%>
                                    <div class="provider">
                                        <h4>Rent</h4>
                                        <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                            alt="<%= provider.provider_name %>"
                                            title="Rent <%= movie.title %> on <%= provider.provider_name %>">
                                    </div>
                                    <% } %>
                                    <% } %>
                                    <% if(watch.buy){%>
                                    <% for(let provider of watch.buy){%>
                                    <div class="provider">
                                        <h4>Buy</h4>
                                        <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                            alt="<%= provider.provider_name %>"
                                            title="Buy <%= movie.title %> on <%= provider.provider_name %>">
                                    </div>
                                    <% } %>

                                    <% } %>
                                    <% if(watch.flatrate) {%>
                                    <% for(let provider of watch.flatrate){%>
                                    <div class="provider">
                                        <h4>Stream</h4>
                                        <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                            alt="<%= provider.provider_name %>"
                                            title="Stream <%= movie.title %> on <%= provider.provider_name %>">
                                    </div>
                                    <% } %>

                                    <% } %>
                                    <% if(watch.ads) {%>
                                    <% for(let provider of watch.ads){%>
                                    <div class="provider">
                                        <h4>Ads</h4>
                                        <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                            alt="<%= provider.provider_name %>"
                                            title="Stream <%= movie.title %> on <%= provider.provider_name %>">
                                    </div>
                                    <% } %>

                                    <% } %>
                                    <div class="close-providers" title="close"><i
                                            class="fas fa-times"></i></div>

                                </div>

                            </a>


                        </div>
                        <% } %>
                        <div class="swiper-btns">
                            <% if(movie.homepage !== "" && movie.homepage !== null){%>
                            <a href="<%= movie.homepage %> " target="_blank" class="swiper-btn"
                                role="button"><i class="fas fa-link"></i>Website</a>
                            <% } %>
                            <a href="https://www.imdb.com/title/<%= movie.imdb_id %>/"
                                target="_blank" class="swiper-btn" role="button"><i
                                    class="fab fa-imdb"></i>IMDB</a>
                            <% if(movie.videos.results.length > 0){%>
                            <button class="swiper-btn trailer red-btn"><i
                                    class="fas fa-play"></i>Trailer</button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="similarmovies-container">
                    <% if(similar.length){%>
                    <h1 class="embla-title">Similar Tv Shows</h1>
                    <div class="embla" style="margin-top: 1.2rem;">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <% similar.forEach(mov=>{%>
                                <div class="embla__slide">
                                    <div class="slider-inner-card embla__slide__inner viewed-card">
                                        <a href="/tv/tv-shows/<%= mov.id %>" title="<%=mov.name%>">
                                            <img class="slider-image"
                                                src="https://image.tmdb.org/t/p/w1280/<%=mov.backdrop_path%>"
                                                alt="<%= mov.name %> " />
                                        </a>
                                        <div class="image-drop">
                                            <%if(mov.name){%>
                                            <h3><%=mov.name%></h3>
                                            <%}else {%>
                                            <h3>n/a</h3>
                                            <%}%> 
                                        </div>
                                    </div>
                                
                                </div>
                                <%}) %>
                            </div>

                        </div>
                        <button class="embla__button embla__button--prev square__btn"
                            type="button">
                            <svg class="embla__button__svg"
                                viewBox="137.718 -1.001 366.563 643.999">
                                <path
                                    d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                </path>
                            </svg>
                        </button>
                        <button class="embla__button embla__button--next square__btn"
                            type="button">
                            <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                                <path
                                    d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                </path>
                            </svg>
                        </button>
                                
                    </div>

                    <% } %>
                </div>
            </div>
        </div>

    </div>

    <% }%> -->



<!-- <div class="small-display-details">
        <div>
            <div class="sub-detail">
                <h4>Tagline</h4>
                <p><%= movie.tagline %> </p>
            </div>
            <div class="sub-detail">
                <h4>Genres</h4>
                <% if(genres){%>
                <p class="sub-detail-genre">
                    <%for(let genre of movie.genres.slice(0, 4)){%>
                    <span><a
                            href="/tv/genres/<%= genre.name %>"><%= genre.name %></a></span>
                    <% } %>
                </p>
                <% } %>
            </div>
            <div class="sub-detail">
                <h4>Rating(tmdb)</h4>
                <p class="rating"><i
                        class="fas fa-star"></i><%= movie.vote_average %></p>

            </div>
            <div class="sub-detail">
                <h4>Episode Runtime</h4>
                <p><%= movie.episode_run_time %></p>
            </div>
            <div class="sub-detail">
                <h4>Languages</h4>
                <p><%= spokenLanguages%> </p>
            </div>
            <div class="sub-detail">
                <h4>Watch Guide</h4>
                <div class="just-watch">
                    <span><a href="https://www.justwatch.com/"><img
                                src="/justwatch-logo.png"
                                alt="just-watch"></a></span>
                </div>
            </div>
            <%if(crews){%>
            <div class="crews-bottom-wrapper">
                <h4>Crew</h4>
                <div class="crews crews-bottom">
                    <% for(let person of crews){%>
                    <div class="director">
                        <a class="crew-name" href="#"><%= person.name %></a>
                        <h5><%= person.job %> </h5>
                    </div>

                    <% } %>

                </div>

            </div>

            <%} %>
        </div>
    </div> -->

<!-- <a href="<%= watch.link%>" target="_blank">
                                                            <div class="embla cast-container">
                                                                <div class="embla__viewport">
                                                                    <div class="embla__container">
                                                                        <% if(watch.rent) {%>
                                                                            <% for(let provider of watch.rent){%>
                                                                            <div class="embla__slide" style="margin-right: 30px;">
                                                                                <div class="provider embla__slide__inner">
                                                                                    <h4>Rent</h4>
                                                                                    <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                                                                        alt="<%= provider.provider_name %>"
                                                                                        title="Rent <%= movie.title %> on <%= provider.provider_name %>">
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                                            <% } %>
                                                                            <% if(watch.buy){%>
                                                                            <% for(let provider of watch.buy){%>
                                                                            <div class="embla__slide" style="margin-right: 30px;">
                                                                                <div class="provider embla__slide__inner">
                                                                                    <h4>Buy</h4>
                                                                                    <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                                                                        alt="<%= provider.provider_name %>"
                                                                                        title="Buy <%= movie.title %> on <%= provider.provider_name %>">
                                                                                </div>
                                            
                                                                            </div>
                                                                            <% } %>
                                            
                                                                            <% } %>
                                                                            <% if(watch.flatrate) {%>
                                                                            <% for(let provider of watch.flatrate){%>
                                                                            <div class="embla__slide" style="margin-right: 30px;">
                                                                                <div class="provider embla__slide__inner">
                                                                                    <h4>Stream</h4>
                                                                                    <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                                                                        alt="<%= provider.provider_name %>"
                                                                                        title="Stream <%= movie.title %> on <%= provider.provider_name %>">
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                            
                                                                            <% } %>
                                                                            <% if(watch.ads) {%>
                                                                            <% for(let provider of watch.ads){%>
                                                                            <div class="embla__slide">
                                                                                <div class="provider embla__slide__inner">
                                                                                    <h4>Ads</h4>
                                                                                    <img src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path %>"
                                                                                        alt="<%= provider.provider_name %>"
                                                                                        title="Stream <%= movie.title %> on <%= provider.provider_name %>">
                                                                                </div>
                                            
                                                                            </div>
                                                                            <% } %>
                                            
                                                                            <% } %>
                                            
                                            
                                                                        </div>
                                            
                                                                    </div>
                                                                    <button class="embla__button embla__button--prev" type="button"
                                                                        style="display: none;">
                                                                        <svg class="embla__button__svg"
                                                                            viewBox="137.718 -1.001 366.563 643.999">
                                                                            <path
                                                                                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                                                            </path>
                                                                        </svg>
                                                                    </button>
                                                                    <button class="embla__button embla__button--next" type="button"
                                                                        style="display: none;">
                                                                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                                                                            <path
                                                                                d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                                                            </path>
                                                                        </svg>
                                                                    </button>
                                            
                                                                </div>
                                            
                                                            </a>
                                                            <div class="just-watch">
                                                                <p>Powered by</p>
                                                                <img src="/justwatch-logo.png" alt="just-watch">
                                                            </div> -->