<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#001019">
    <title>Where to watch <%= movie.title %> online | what2watch.net</title>
    <meta name="description"
        content="<%= movie.title %>: <%= movie.overview %>">
    <meta name="keywords"
        content="where to watch <%= movie.title %>, <%= movie.title %> movie, <%= movie.title %> the movie, <%= movie.title %> trailer, <%= movie.title %> release-date,">
    <meta property="og:url" content="https://what2watch.net/movie/<%= movie.id%>"/>
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="<%= movie.title %> " />
    <meta property="og:description" content="<%= movie.title %>: <%= movie.overview %>" />
    <meta property="og:image" content="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" />
    <meta property="og:site_name" content="what2watch.net"/>
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.css" />
    <link rel="stylesheet" href="/Css/embla.css">
    <link rel="stylesheet" href="/Css/blog.css">
    <link rel="stylesheet" href="/Css/styles.css">
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NN3S8E3V6Q"></script>
</head>

<body>

    <nav class="navigation">
        <div class="wrapper-enclosure nav-enclosure">
            <div class="logo-and-links">
                <div class="logo">
                    <div class="burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <a href="/">
                        <div class="logo-wrapper">
                            <img src="/logo.png" alt="what2watch">
                        </div>

                    </a>
                </div>
                
                <ul class="nav_links ld-nav_links">
                    <li class="nav_link"> <a href="/">Movies</a></li>
                    <li class="nav_link"> <a href="/tv/tv-shows">Tv Shows</a></li>
                    <li class="nav_link"> <a href="/recommendations/watch-guide">Watch Guide</a></li>
                    <li class="nav_link"> <a href="/recommendations/what-to-watch">what-to-watch</a></li>
                    <li class="nav_link"> <a href="/blog/posts">Blog</a></li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li class="nav_link"> <a href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li class="nav_link"> <a href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
                <div class="search-trigger" title="find what to watch">
                    <i class="fas fa-search"></i>
                </div>

            </div>

        </div>
    </nav>

    <div class="side-drawer" data-simplebar>
        <i class="fas fa-times"></i>
        <div class="side-drawer-inner">
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Menu</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">  
                        <li> <a class="active-cat" href="/">Movies</a></li>
                        <li> <a class="active-cat" href="/tv/tv-shows">Tv Shows</a></li>
                        <li> <a class="active-cat" href="/recommendations/watch-guide">Watch Guide</a></li>
                        <li> <a class="active-cat" href="/recommendations/what-to-watch">what-to-watch</a></li>
                        <li><a class="active-cat" href="/blog/posts">Blog</a></li>
                        <% if(user){%>
                        <% if(user.privilege === "admin"){%>
                        <li><a class="active-cat" href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% }else{%>
                        <li> <a class="active-cat" href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Discover</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <li><i class="fas fa-heart"></i><a class="active-cat" href="/">Popular</a></li>
                        <li><i class="fas fa-chart-bar"></i><a class="active-cat" href="/movie/top_rated">Top Rated</a>
                        </li>
                        <li><i class="fas fa-calendar-week"></i><a class="active-cat"
                                href="/movie/upcoming"></i>Upcoming</a></li>
                    </ul>
                </div>

            </div>
            <div class="main-category movie-genres">
                <div class="category-title">
                    <h2>Genres</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <% if(genres){%>
                        <% genres.forEach(genre=>{ %>
                        <li><i class="fas fa-dot-circle"></i><a class="active-cat"
                                href="/movie/genres/<%= genre.name %>"><%= genre.name %></a></li>

                        <%})%>
                        <%}%>
  
                    </ul>
                </div>
            </div>
      <div class="main-category discover-movies appearance">
        <div class="category-title">
            <h2 class="discover">Appearance</h2>
        </div>
        <div class="category-types">
            <ul class="categories setting">
                <li><i class="fas fa-moon"></i>light/dark mode</li>
                <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="label">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>
            </ul>
        </div>
    
      </div>
      <div class="side-drawer-btns">
        <button class="browse-btn">Sign-Up</button>
        <button class="browse-btn">Login</button>
      </div>
      <div class="credits">
        <h5>powered by</h5>
        <img src="/moviedb-logo2.svg" alt="moviedb">
      </div>    
    </div>
</div>
<section class="side-drawer-backdrop"></section>
<div class="multi-search-modal" >
    <div class="multi-search-wrapper" >
        <form action="/search" method="GET" class="multi-search-form">
            <div class="multi-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="multi-search" placeholder="search for movies, tv shows or cast members..." name="query" autofocus>
                <input type="submit" value="search" hidden>
            </div>
        </form>
        <div class="multi-search-cancel"><i class="fas fa-times"></i></div>
        
    </div>
</div>
<section id="single-movie-container" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.6) 52%, #001019 80%), url(https://image.tmdb.org/t/p/w1280/<%=movie.backdrop_path%>);
                        background-size: cover; background-repeat: no-repeat; background-position: center center ;">
                        <% if(movie){%>
                            <div class="single-movie-wrapper">
                                <div class="wrapper-enclosure">
                                    <button class="back back-movie"><i class="fas fa-arrow-left go-back go-back-nav"></i></button>
                        
                                    <div class="single-movie-inner hero-height">
                                       <div class="hero-main">
                                        <h1 class="hero-title"><%= movie.title %></h1>
                                        <% if(movie.tagline){%>
                                            <p class="hero-tagline">"<%= movie.tagline%>"</p>
                                        <% }%>
                                        <div class="hero-dates">
                                            <% if(extData?.mpa_rating !== null && extData?.mpa_rating !== ""){%>
                                                <span class="content-rating"><%= extData?.mpa_rating%> </span>
                                            <% } %>  
                                            <span><%= movie.release_date?movie.release_date:"n/a" %></span>
                                            <%for(let genre of movie.genres.slice(0, 1)){%>
                                                <span>
                                                    <a href="/movie/genres/<%= genre.name %>"><%= genre.name %></a></span>
                                                <% } %>
                                            <span><span><%= runTime %></span></span>
                                        </div>
                                        <div class="hero-overview">
                                            <p class="clamp-synopsis">
                                                <%= movie.overview%>
                                                
                                            </p>
                                            <span class="hero-read hero-collapse open-synopsis synopsis-read-more">More<i class="fas fa-chevron-down"></i></span>
                                        </div>
                                        <div class="hero-trailer">
                                            <% if(movie.videos.results.length > 0){%>
                                                <div class="hero-btn-wrapper trailer" data-source="https://www.youtube.com/embed/<%= trailer?.key %>">
                                                    <button class="hero-btn"><i class="fas fa-play"></i></button><span class="hero-trailer-span">Trailer</span>
                                                </div>
                                                <%if(watch){%>
                                                    <div class="hero-watch-banner hero-collapse">
                                                        <img class="hero-img provider-img" src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path%> " alt="<%= provider.provider_name %>">
                                                        <div><h4>Watch on <%= provider.provider_name %></h4></div>
                                                        
                                                    </div>
                                                <% } %>
                    
                                            <% }else{%>
                                                <%if(watch){%>
                                                    <div class="hero-watch-banner hero-collapse" style="margin-left: 0;">
                                                        <img class="hero-img provider-img" src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path%> " alt="<%= provider.provider_name %>">
                                                        <div><h4>Watch on <%= provider.provider_name %></h4></div>
                                                        
                                                    </div>
                                                <% } %>
                                            <% } %>  
                                            
                                            
                                        </div>
                                        
                                       </div> 
                                    </div>
                        
                        
                        
                        
                        
                                    
                                </div>
                            
                           </div>
                        <% } %> 
                        </section>
                                <div class="movie-trailer">
                                    <div class="trailer-container">
                                        <% if(trailer){%>
                                        <div class="trailer-video">
                                            <iframe class="video_player" width="100%" height="100%"
                                                src=""
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </div>
                                        <img class="close-trailer" src="/multiply.png" alt="close">
                                        <% } %>
                                    </div>
                                </div>                               




                                <section id="more-movie-info">
                                    <div class="wrapper-enclosure">
                                        <div class="movie-synopsis movie-storyline">
                                            <div class="measuring-wrapper" style="padding-bottom:0.2rem;">
                                                <div class="measuring-content">
                                                    <div class="single-movie-card">
                                                        <% if(movie.poster_path){%>
                                                        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %>">
                                                        <%}else if(movie.poster_path === null){%>
                                                        <img src="/noposter.svg" alt="movie-poster">
                                                        <% } %>
                                                        <%if(watch){%>
                                                            <div class="watch-banner">
                                                                <img class="provider-img" src="https://image.tmdb.org/t/p/w500/<%= provider.logo_path%> " alt="<%= provider.provider_name %>">
                                                                <div>
                                                                <h4>Watch on <%= provider.provider_name %></h4></div>
                                                        
                                                            </div> 
                                                        
                                                        <% } %>
                                                    </div>
                                                    <div class="movie-complete-info">
                                                        <h2>Storyline</h2>
                                                        <p class="large-display-synopsis ">
                                                            <%= movie.overview %>
                                                        </p>
                                                        <% if(movie){%>
                                                            <div class="details-list-wrapper">
                                                                <ul class="details-list">
                                                                    <li>
                                                                        <div class="item-key">Released</div>
                                                                        <div class="item-value"><%= movie.release_date %> </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Revenue</div>
                                                                        <div class="item-value"><%= movie.revenue > 0 ? "$" + revenue : "n/a" %></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Budget</div>
                                                                        <div class="item-value"><%= movie.budget > 0 ? "$" + budget : "n/a" %></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Runtime</div>
                                                                        <div class="item-value"><%= runTime %></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Genre</div>
                                                                        <div class="item-value">
                                                                            <%= movieGenres %>
                                                                        </div>
                                                                    </li>
        
                                                                    <li>
                                                                        <div class="item-key">Status</div>
                                                                        <div class="item-value"><%= movie.status %> </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Language</div>
                                                                        <div class="item-value"><%= spokenLanguages%></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key"><img src="/logo-imdb.svg" alt="imdb-logo"></div>
                                                                        <div class="item-value"><%= extData?.rating%> <i class="fas fa-star"></i></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item-key">Production</div>
                                                                        <div class="item-value"><%= network%></div>
                                                                    </li>
                                                                </ul>
                                                                <%if(crews){%>
                                                                    <div class="crews-bottom-wrapper">
                                                                        <h4>Crew</h4>
                                                                        <div class="crews crews-bottom">
                                                                            <% for(let person of crews){%>
                                                                            <div class="director">
                                                                                <a class="crew-name" href="#"><%= person.name %></a>
                                                                                <h5><%= person.job %> </h5>
                                                                            </div>
                                                        
                                                                            <% } %>
                                                        
                                                                        </div>
                                                        
                                                                    </div>
                                                        
                                                                <%} %>
                                                                <div class="movie-links">
                                                                    <% if(movie.homepage !== "" && movie.homepage !== null){%>
                                                                    <a href="<%= movie.homepage %> " target="_blank" class="web"
                                                                        role="button"><i class="fas fa-link"></i></a>
                                                                    <% } %>
                                                                    <a href="https://www.imdb.com/title/<%= movie.imdb_id %>/"
                                                                        target="_blank" role="button"><i
                                                                            class="fab fa-imdb"></i></a>
                                                                </div>
                                                                <div class="movie-keywords">
                                                                    <div class="keyword-title">Keywords:</div>
                                                                    <% if(keywords.length){%> 
                                                                        <div class="keywords-wrapper">
                                                                            <% keywords.forEach(keyword=>{%>
                                                                                <a href="/keyword/<%=keyword.id%>-<%=keyword.slug%>" class="keyword-proper">
                                                                                    <%= keyword.name %> 
                                                                                </a>
                                                                            <%}) %> 
                                                                        </div>
                                                                        <% }else{%>
                                                                            <div class="keywords-wrapper">
                                                                                <p>No keywords have been added yet</p>
                                                                            </div>
                                                                            
                                                                        <% } %>  
                                                                </div>
                                                                
                                                                
                                                            </div>
                                                            
                            
                            
                                                        <% } %> 
                                                        
                            
                                                    </div>
                                                </div>
                                                

                                                <div class="watch-providers-sm bottom-border">
                                                    <h3 class="watch-notice">Stream and watch <span><%= movie.title %></span></h3>
                                                    <div class="justwatch-wrapper">
                                                        <div data-jw-widget
                                                            data-api-key="kdXlICVx4d6qwyZYSThFxvVKAhQtwtqY"
                                                            data-object-type="movie"                 
                                                            data-id="<%= movie.imdb_id %>"
                                                            data-id-type="imdb"
                                                            data-offer-label="price"
                                                            data-no-offers-message="Oopsy daisy, no offers for <%= movie.title %>  at this time!"
                                                            data-title-not-found-message="Oopsy daisy, no offers at this time!"
                                                            data-theme="dark"
                                                            >
                                                        </div>
                                                        
                                                        <div>
                                                            <a style="font-size: 11px; font-family: sans-serif; color: white; text-decoration: none;" target="_blank" data-original="https://www.justwatch.com/" href="https://www.justwatch.com/de/Film/<%= movie.title %>">
                                                              Powered by
                                                              <span style="display: -moz-inline-box; display: inline-block; width: 66px; height: 10px; margin-left: 3px; background: url(https://widget.justwatch.com/assets/JW_logo_color_10px.svg); overflow: hidden; text-indent: -3000px;">JustWatch</span>
                                                           </a>
                                                        </div>
    
                                                    </div>
                                                    
                                    
                                                </div>
                            
                                            </div>
                                        </div>

                                        <div class="similarmovies-container-fluid">
                                            <% if(similar?.length){%>
                                            <h3 class="embla-small-title">similar movies</h3>
                                            <div class="embla ">
                                                <div class="embla__viewport">
                                                    <div class="embla__container">
                                                        <% similar.forEach(mov=>{%>
                                                        <div class="embla__slide">
                                                            <div
                                                                class="slider-inner-card embla__slide__inner viewed-card">
                                                                <a href="/movie/<%= mov.id %>" title="<%= mov.title %>">
                                                                    <img class="slider-image"
                                                                        src="https://image.tmdb.org/t/p/w1280/<%=mov.poster_path%>"
                                                                        alt="<%= mov.title %>" />
                                                                </a>
                                                                <div class="image-drop">
                                                                    <%if(mov.title){%>
                                                                    <h3><%= mov.title%></h3>
                                                                    <%}else {%>
                                                                    <h3>n/a</h3>
                                                                    <%}%> 
                                        </div>
                                    </div>
                                    <!-- <h3><i
                                        class="far fa-calendar-alt"></i><%= mov.release_date %></h3> -->
                                                                </div>
                                                                <%}) %>
                                                            </div>

                                                        </div>
                                                        <button class="embla__button embla__button--prev square__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="137.718 -1.001 366.563 643.999">
                                                                <path
                                                                    d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                        <button class="embla__button embla__button--next square__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="0 0 238.003 238.003">
                                                                <path
                                                                    d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                                                </path>
                                                            </svg>
                                                        </button>


                                                    </div>

                                                    <% } %>

                                                </div>


                                                <% if(movie.credits.cast.length){%>
                                                <div class="movie-cast">
                                                    <h2>Cast</h2>
                                                    <div class="embla cast-container">
                                                        <div class="embla__viewport">
                                                            <div class="embla__container">
                                                                <%for(let cast of movie.credits.cast){%>
                                                                <div class="embla__slide">
                                                                    <div class="cast-card embla__slide__inner">
                                                                        <% if(cast.profile_path){%>
                                                                        <a href="/person/<%= cast.id %> "><img
                                                                                src="https://image.tmdb.org/t/p/w500/<%= cast.profile_path %>"
                                                                                alt="<%= cast.name %>"></a>
                                                                        <%}else if(cast.profile_path === null){%>
                                                                        <a href="/person/<%= cast.id %> "><img
                                                                                src="/default-profile.png" alt="<%= cast.name %>"></a>
                                                                        <% } %>
                                                                        <div class="cast-name">
                                                                            <a href="/person/<%= cast.id %>">
                                                                                <h4><%= cast.name %></h4>
                                                                            </a>
                                                                            <h5><%= cast.character %> </h5>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <% } %>

                                                            </div>

                                                        </div>
                                                        <button
                                                            class="embla__button embla__button--prev square__btn cast__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="137.718 -1.001 366.563 643.999">
                                                                <path
                                                                    d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                        <button
                                                            class="embla__button embla__button--next square__btn cast__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="0 0 238.003 238.003">
                                                                <path
                                                                    d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                                                </path>
                                                            </svg>
                                                        </button>

                                                    </div>
                                                </div>
                                                <% } %>
                                                <% if(media[0].length || media[1].length || media[2].length){%>
                                                <div class="movie-cast videos-and-photos">
                                                    <h2>Videos and Photos</h2>
                                                    <div class="embla media-wrapper">
                                                        <div class="embla__viewport">
                                                            <div class="embla__container media-container ">
                                                                <% for(let video of media[0]){%>
                                                                <div class="embla__slide video-gallery">
                                                                    <img src="https://i.ytimg.com/vi/<%= video.key %>/maxresdefault.jpg"
                                                                        alt="video-bd">
                                                                    <div class="play-icon" data-source="https://www.youtube.com/embed/<%= video.key %>"><i
                                                                            class="play fas fa-play"></i></div>
                                                                </div>
                                                                <%} %>
                                                                <% for(let backdrop of media[2]){%>
                                                                <div class="embla__slide">
                                                                    <img class="media-backdrop"
                                                                        src="https://image.tmdb.org/t/p/w500/<%= backdrop.file_path %>"
                                                                        alt="<%= movie.title %> ">
                                                                </div>

                                                                <% } %>
                                                                <% for(let poster of media[1]){%>
                                                                <div class="embla__slide">
                                                                    <img class="media-poster"
                                                                        src="https://image.tmdb.org/t/p/w500/<%= poster.file_path %>"
                                                                        alt="<%= movie.title  %> ">
                                                                </div>
                                                                <% } %>
                                                            </div>

                                                        </div>
                                                        <button class="embla__button embla__button--prev square__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="137.718 -1.001 366.563 643.999">
                                                                <path
                                                                    d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                        <button class="embla__button embla__button--next square__btn"
                                                            type="button">
                                                            <svg class="embla__button__svg"
                                                                viewBox="0 0 238.003 238.003">
                                                                <path
                                                                    d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <% } %>
                                                
                                                <% if(reviews?.length){%>
                                                <div id="reviews-container">
                                                    <h2>Movie Reviews</h2>
                                                    <div class="reviews-wrapper">
                                                        <div class="reviews-container">
                                                            <h5>Reviews for <span><%= movie.title %></span></h5>
                                                            <div class="reviews-inner" data-simplebar>
                                                                <%for(let review of reviews){%>
                                                                <div class="review-card">
                                                                    <div class="review-details">
                                                                        <img src="https://secure.gravatar.com/avatar<%=review.author_details.avatar_path%>"
                                                                            alt="reviewer avatar">
                                                                        <div class="reviewer-name">
                                                                            <h4>A Review by <span
                                                                                    class="review-author"><%= review.author_details.username %></span>
                                                                                <i class="fas fa-star"></i><span
                                                                                    class="rate"><%= review.author_details.rating%></span>
                                                                            </h4>
                                                                            <h6>Written by
                                                                                <span><%= review.author_details.username %></span>
                                                                                on
                                                                                <%= review.created_at.substr(0, 10) %>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="review-content">
                                                                        <p class="author-content">
                                                                            <%= review.content.substr(0, 140) %>...
                                                                            <span class="expand-review">read more</span>
                                                                        </p>
                                                                        <p style="display: none;"><%= review.content %>
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                                <% } %>
                                                            </div>
                                                        </div>

                                                        <div class="full-review">
                                                            <h5>Read Full Review <span>(The thoughts and opinions
                                                                    expressed here are solely those of the
                                                                    reviewer.)</span></h5>
                                                            <div class="full-review-inner " data-simplebar>
                                                                <h6><i class="fas fa-star"></i>A Review by
                                                                    <span><%= reviews[0].author %> </span></h6>
                                                                <p class="full-review-content">
                                                                    <%= reviews[0].content.substr(0, 240) %>... </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="embla review-slider-container">
                                                    <div class="embla__viewport">
                                                        <div class="embla__container">
                                                            <%for(let review of reviews){%>
                                                            <div class="embla__slide review-card">
                                                                <div class="review-details">
                                                                    <img src="https://secure.gravatar.com/avatar<%=review.author_details.avatar_path%>"
                                                                        alt="reviewer avatar">
                                                                    <div class="reviewer-name">
                                                                        <h4>A Review by <span
                                                                                class="review-author"><%= review.author_details.username %></span>
                                                                            <i class="fas fa-star"></i><span
                                                                                class="rate"><%= review.author_details.rating%></span>
                                                                        </h4>
                                                                        <h6>Written by
                                                                            <span><%= review.author_details.username %></span>
                                                                            on <%= review.created_at.substr(0, 10) %>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <div class="review-content">
                                                                    <p class="author-content">
                                                                        <%= review.content.substr(0, 200) %>...</p>
                                                                    <span class="read-on"> <a
                                                                            href="/reviews/<%= review.id %>">read
                                                                            more</a></span>
                                                                </div>
                                                            </div>

                                                            <% } %>

                                                        </div>
                                                    </div>

                                                    <!-- Buttons -->
                                                    <button class="embla__button embla__button--prev square__btn"
                                                        type="button">
                                                        <svg class="embla__button__svg"
                                                            viewBox="137.718 -1.001 366.563 643.999">
                                                            <path
                                                                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <button class="embla__button embla__button--next square__btn"
                                                        type="button">
                                                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                                                            <path
                                                                d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>

                                                <% } %>

                                            </div>
                                </section>

                                <section id="popular-movies">
                                    <div class="wrapper-enclosure">
                                        <div class="movies-container">
                                            <% if(recommendedMovies?.length){%>
                                            <h3 class="popular serif">Movies like <span
                                                    class="related-films"><%= movie.title %> </span></h3>
                                            <div class="line-container">
                                                <!-- <div class="line"></div> -->
                                            </div>
                                            <div class="movie-wrapper">
                                                <% recommendedMovies.forEach(function(recommendedMovie){%>
                                                <div class="movie-card-container">
                                                    <div class="movie-card viewed-card">
                                                        <a class="image" href="/movie/<%= recommendedMovie.id %>"
                                                            title="<%= recommendedMovie.title %> ">
                                                            <% if(recommendedMovie.poster_path){%>
                                                            <img src="https://image.tmdb.org/t/p/w500/<%= recommendedMovie.poster_path %>"
                                                                alt="<%= recommendedMovie.title %>">
                                                            <%}else if(recommendedMovie.poster_path === null){%>
                                                            <img src="/noposter.svg" alt="">
                                                            <% } %>
                                                        </a>
                                                        <a href="/movie/<%= recommendedMovie.id %>">
                                                            <div class="movie-card-overlay">
                                                                <div>
                                                                    <%if(recommendedMovie.title){%>
                                                                    <h2 class="movie-rating"><i
                                                                            class="fas fa-star"></i><span><%= recommendedMovie.vote_average %></span>
                                                                    </h2>
                                                                    <%}%> 
                                                                    <h4><%= recommendedMovie.release_date?recommendedMovie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                                                    </h4>
                                                                </div>
                                                                <p><%= recommendedMovie.overview?recommendedMovie.overview.substr(0, 100):"n/a"%>...
                                                                </p>
                                                                <button class="swiper-btn overlay-btn">View
                                                                    Details</button>

                                                            </div>
                                                        </a>


                                                    </div>
                                                    <div class="movie-details">
                                                        <div>
                                                            <a href="/movie/<%= recommendedMovie.id %>">
                                                                <%= recommendedMovie.title %>
                                                            </a>

                                                        </div>
                                                        <%if(genres){%>
                                                        <div>
                                                            <span><%= recommendedMovie.release_date?recommendedMovie.release_date.split('').slice(0, 4).join(''):"n/a" %></span>
                                                            <%for(let genreId of recommendedMovie.genre_ids.slice(0, 2)){%>
                                                            <%for(let genre of genres){%>
                                                            <%if(genreId === genre.id){%>
                                                            <span
                                                                class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                                                            </span>
                                                            <% } %>
                                                            <% } %>
                                                            <% } %>
                                                        </div>

                                                        <%} %>

                                                    </div>
                                                </div>
                                                <%})%>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>

                                            </div>
                                            <% }else if(similarMovies.length){%>
                                            <h1 class="popular serif">Movies like <span
                                                    class="related-films"><%= movie.title %> </span></h1>
                                            <div class="line-container">
                                                <!-- <div class="line"></div> -->
                                            </div>
                                            <div class="movie-wrapper">
                                                <% similarMovies.forEach(function(similarMovie){%>
                                                <div class="movie-card-container">
                                                    <div class="movie-card viewed-card">
                                                        <a class="image" href="/movie/<%= similarMovie.id %>"
                                                            title="<%= similarMovie.title %> ">
                                                            <% if(similarMovie.poster_path){%>
                                                            <img src="https://image.tmdb.org/t/p/w500/<%= similarMovie.poster_path %>"
                                                                alt="<%= similarMovie.title %> ">
                                                            <%}else if(similarMovie.poster_path === null){%>
                                                            <img src="/noposter.svg" alt="">
                                                            <% } %>
                                                        </a>
                                                        <a href="/movie/<%= similarMovie.id %>">
                                                            <div class="movie-card-overlay">
                                                                <div>
                                                                    <%if(similarMovie.title){%>
                                                                    <h2 class="movie-rating"><i
                                                                            class="fas fa-star"></i><span><%= similarMovie.vote_average %></span>
                                                                    </h2>
                                                                    <%}%> 
                                        <h4><%= similarMovie.release_date?similarMovie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                                                    </h4>
                                                                </div>
                                                                <p><%= similarMovie.overview?similarMovie.overview.substr(0, 100):"n/a"%>...
                                                                </p>
                                                                <button class="swiper-btn overlay-btn">View
                                                                    Details</button>

                                                            </div>
                                                        </a>

                                                    </div>
                                                    <div class="movie-details">
                                                        <div>
                                                            <a href="/movie/<%= similarMovie.id %>">
                                                                <%= similarMovie.title %>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <span><%= similarMovie.release_date?similarMovie.release_date.split('').slice(0, 4).join(''):"n/a" %></span>
                                                            <%for(let genreId of similarMovie.genre_ids.slice(0, 2)){%>
                                                            <%for(let genre of genres){%>
                                                            <%if(genreId === genre.id){%>
                                                            <span
                                                                class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                                                            </span>
                                                            <% } %>
                                                            <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%})%>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>
                                                <div class="empty"></div>

                                            </div>
                                            <% } %>
                                        </div>
                                        <% if(totalPages > 1){%>
                                            <div class="pagination">
                                                <div class="pagination-controls" data-current="<%=page_num%>" data-pages="<%=totalPages%>" data-path="/movie/<%= movie.id %>/?">
                                                  <a class="pagination-btn" data-page="1">Previous</a>
                                                  <!-- Pagination buttons will be dynamically generated here -->
                                                  <a class="pagination-btn" data-page="2">Next</a>
                                                </div>
                                            </div>
                                        <% } %>
                                        


                                    </div>
                                </section>




                                <%- include('partials/moviefooter') %>