<%- include('partials/header') %>

<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li> <a class="active-cat" href="/">Movies</a></li>
                    <li> <a class="active-cat" href="/tv/tv-shows">Tv Shows</a></li>
                    <li> <a class="active-cat" href="/recommendations/watch-guide">Watch Guide</a></li>
                    <li> <a class="active-cat" href="/recommendations/what-to-watch">what-to-watch</a></li>
                    <li><a class="active-cat" href="/blog/posts">Blog</a></li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
      <div class="main-category discover-movies">
        <div class="category-title">
            <h2 class="discover">Discover</h2>
        </div>
        <div class="category-types">
            <ul class="categories">
                <li><i class="fas fa-heart"></i><a class="active-cat" href="/">Popular</a></li>
                <li><i class="fas fa-chart-bar"></i><a class="active-cat" href="/movie/top_rated">Top Rated</a></li>
                <li><i class="fas fa-calendar-week"></i><a class="active-cat"
                        href="/movie/upcoming"></i>Upcoming</a></li>
            </ul>
        </div>
  
      </div>
      <div class="main-category movie-genres">
        <div class="category-title">
            <h2>Genres</h2>
        </div>
        <div class="category-types">
            <ul class="categories">
                <% if(genres){%>
                <% genres.forEach(genre=>{ %>
                <li><i class="fas fa-dot-circle"></i><a class="active-cat"
                        href="/movie/genres/<%= genre.name %>"><%= genre.name %></a></li>
  
                <%})%>
                <%}%>
  
            </ul>
        </div>
      </div>
      <div class="main-category discover-movies appearance">
        <div class="category-title">
            <h2 class="discover">Appearance</h2>
        </div>
        <div class="category-types">
            <ul class="categories setting">
                <li><i class="fas fa-moon"></i>light/dark mode</li>
                <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="label">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>
            </ul>
        </div>
    
      </div>
      <div class="side-drawer-btns">
        <button class="browse-btn">Sign-Up</button>
        <button class="browse-btn">Login</button>
      </div>
      <div class="credits">
        <h5>powered by</h5>
        <img src="/moviedb-logo2.svg" alt="moviedb">
      </div>    
    </div>
</div>
<section class="side-drawer-backdrop"></section>
<div class="multi-search-modal" >
    <div class="multi-search-wrapper" >
        <form action="/search" method="GET" class="multi-search-form">
            <div class="multi-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="multi-search" placeholder="search for movies, tv shows or cast members..." name="query" autofocus>
                <input type="submit" value="search" hidden>
            </div>
        </form>
        <div class="multi-search-cancel"><i class="fas fa-times"></i></div>
        
    </div>
  </div>

<button class="back review-back"><i class="fas fa-arrow-left go-back go-back-nav" ></i></button>
<section id="single-review">
    
    <div class="single-review-wrapper">
        <div class="single-review-inner">
            <div class="movie-info-and-poster">
                <div class="poster">
                    <% if(movie.poster_path){%> 
                        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= title %> ">
                        <%}else if(movie.poster_path === null){%>
                            <img src="/noposter.svg" alt="<%= title %>">
                        <% } %>
                </div>
                <div class="movie-info">
                    <h2><%= title %> </h2>
                    <h3>User Review</h3>
                    <h4>Written by <span><%= review.author_details.username %></span> on <span><%=review.created_at?review.created_at.substr(0, 10):"" %></span></h4>
                </div>
            </div>
            <div class="full-user-review">
                <h2><i class="fas fa-star"></i><%= review.author_details.rating %>/10 </h2>
                <p><%= review.content %> </p>
    
            </div>

        </div>
        

    </div>
    
</section>


<%- include('partials/footer') %>