<%- include('partials/header') %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li class="nav_link"> <a href="/about-us">About us</a> </li>
                    <li><a class="active-cat" href="/blog/posts">Blog</a></li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Discover</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><i class="fas fa-heart"></i><a class="active-cat" href="/">Popular</a></li>
                    <li><i class="fas fa-chart-bar"></i><a class="active-cat" href="/movie/top_rated">Top Rated</a></li>
                    <li><i class="fas fa-calendar-week"></i><a class="active-cat"
                            href="/movie/upcoming"></i>Upcoming</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category movie-genres">
            <div class="category-title">
                <h2>Genres</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(genres){%>
                    <% genres.forEach(genre=>{ %>
                    <li><i class="fas fa-dot-circle"></i><a class="active-cat"
                            href="/movie/genres/<%= genre.name %>"><%= genre.name %></a></li>

                    <%})%>
                    <%}%>
  
            </ul>
        </div>
      </div>
      <div class="main-category discover-movies appearance">
        <div class="category-title">
            <h2 class="discover">Appearance</h2>
        </div>
        <div class="category-types">
            <ul class="categories setting">
                <li><i class="fas fa-moon"></i>light/dark mode</li>
                <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="label">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>
            </ul>
        </div>
    
      </div>
      <div class="side-drawer-btns">
        <button class="browse-btn">Sign-Up</button>
        <button class="browse-btn">Login</button>
      </div>
      <div class="credits">
        <h5>powered by</h5>
        <img src="/moviedb-logo2.svg" alt="moviedb">
      </div>    
    </div>
</div>
<section class="side-drawer-backdrop"></section>
<div class="multi-search-modal" >
    <div class="multi-search-wrapper" >
        <form action="/search" method="GET" class="multi-search-form">
            <div class="multi-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="multi-search" placeholder="search for movies, tv shows or cast members..." name="query" autofocus>
                <input type="submit" value="search" hidden>
            </div>
        </form>
        <div class="multi-search-cancel"><i class="fas fa-times"></i></div>
        
    </div>
</div>



<section id="popular-movies" class="search-container">
    <div class="wrapper-enclosure">
        <button class="back upcoming-back"><i class="fas fa-arrow-left go-back go-back-nav" ></i></button>
        
        <div class="movies-container movie-search">
            <div class="ads-banner" style="margin-bottom: 1.5rem;">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                    crossorigin="anonymous"></script>
                <!-- what2watch-ads -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-9179075773135399"
                    data-ad-slot="3348121714"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="page-intro">
                <h1>Top Rated Movies</h1>
                <p>Get to know the top rated movies of all time. Explore old classics and get entertained.</p>
            </div>
            <% if(movies.length > 0){%>
                    <div class="movie-wrapper ">
                        <% movies.forEach(function(movie){%>
                        <div class="movie-card-container search-movie-container">
                            <% if(movie.poster_path){%>
                            <div class="movie-card viewed-card">
                                <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %>">
                                </a>
                                <a href="/movie/<%= movie.id %>">
                                    <div class="movie-card-overlay">
                                        <div>
                                            <%if(movie.title){%>
                                            <h2 class="movie-rating"><i
                                                    class="fas fa-star"></i><span><%= movie.vote_average %></span></h2>
                                            <%}%> 
                                    <h4><%= movie.release_date?movie.release_date.split('').slice(0, 4).join(''):"n/a" %>
                                            </h4>
                                        </div>
                                        <p><%= movie.overview?movie.overview.substr(0, 100):"n/a"%>...</p>
                                        <button class="swiper-btn overlay-btn">View Details</button>

                                    </div>
                                </a>

                            </div>

                            <%}else if(movie.poster_path === null){%>
                            <div class="movie-card viewed-card" style="background-color: aliceblue;">
                                <a class="image" href="/movie/<%= movie.id %>" title="<%= movie.title %> ">
                                    <img src="/poster-alt.png" alt="">
                                </a>

                            </div>

                            <% } %>
                            <div class="movie-details">
                                <div>
                                    <a href="/movie/<%= movie.id %>">
                                        <%= movie.title %>
                                    </a>
                                </div>
                                <div>
                                    <span><%= movie.release_date?movie.release_date.split('-').slice(0, 1).join(''):'n/a'%></span>
                                    <%for(let genreId of movie.genre_ids.slice(0, 2)){%>
                                    <%for(let genre of genres){%>
                                    <%if(genreId === genre.id){%>
                                    <span class="genre-span"><%= genre.name === "Science Fiction"?"Sci-fi":genre.name %>
                                    </span>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <%})%>
                        <div class="empty"></div>
                        <div class="empty"></div>
                        <div class="empty"></div>
                        <div class="empty"></div>
                        <div class="empty"></div>
                        <div class="empty"></div>
                        <div class="empty"></div>
                    </div>
                    <% }else{%>
                    <div class="search-not-found">
                        <h1 class="movie-not-found">Oops! no search results for <span><%= search %></span>.</h1>
                        <img src="../../poster-alt.png" alt="search not found">
                        <div class="swiper-btns">
                            <a href="/" class="swiper-btn" role="button"><i class="fas fa-home"></i>Home</a>
                        </div>
                    </div>
                    <% } %>
            </div>
            <% if(page_num < totalPages) {%>
            <div class="page-controls">
                <% if(page_num > 1) {%>
                <a href="/movie/top_rated/<%= page_num - 1 %>" class="prev-page swiper-btn" role="button"><i
                        class="fas fa-arrow-circle-left prev-indicator"></i>page <%= page_num - 1 %></a>

                <hr class="bottom-rule">

                <% }else{%>
                <hr class="bottom-rule" style="display: none;">
                <% } %>
                <% if(page_num < totalPages && totalResults > 20) {%>
                <a href="/movie/top_rated/<%= page_num + 1 %>" class="next-page swiper-btn" role="button"
                    title="next-page">page <%= page_num + 1 %><i
                        class="fas fa-arrow-circle-right next-indicator"></i></a>
                <% } %>

            </div>
            <% } %>
            <div class="ads-banner" style="margin-top: 1.5rem;">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                    crossorigin="anonymous"></script>
                <!-- what2watch-ads -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-9179075773135399"
                    data-ad-slot="3348121714"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>


        </section>




        <%- include('partials/footer') %>