<%- include('partials/header') %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li class="nav_link"> <a href="/about-us">About us</a> </li>
                    <li><a class="active-cat" href="/blog/posts">Blog</a></li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/blog/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/blog/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Discover on Tv</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><i class="fas fa-heart"></i><a class="active-cat" href="/tv/tv-shows">Popular</a></li>
                    <li><i class="fas fa-chart-bar"></i><a class="active-cat" href="/tv/top-rated">Top Rated</a></li>
                    <li><i class="fas fa-calendar-week"></i><a class="active-cat"
                            href="/tv/on-the-air"></i>On The Air</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category movie-genres">
            <div class="category-title">
                <h2>Genres</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(genres){%>
                    <% genres.forEach(genre=>{ %>
                    <li><i class="fas fa-dot-circle"></i><a class="active-cat"
                            href="/tv/genres/<%= genre.name %>"><%= genre.name %></a></li>

                    <%})%>
                    <%}%>

                </ul>
            </div>


        </div>
        <div class="main-category discover-movies appearance">
            <div class="category-title">
                <h2 class="discover">Appearance</h2>
            </div>
            <div class="category-types">
                <ul class="categories setting">
                    <li><i class="fas fa-moon"></i>light/dark mode</li>
                    <div>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="label">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
                </ul>
            </div>
  
        </div>
        <div class="side-drawer-btns">
            <button class="browse-btn">Sign-Up</button>
            <button class="browse-btn">Login</button>
        </div>
        <div class="credits">
            <h5>powered by</h5>
            <img src="/moviedb-logo2.svg" alt="moviedb">
        </div>

    </div>
    
</div>
<section class="side-drawer-backdrop"></section>


<section id="header-container">
    <div class="small-screen-search search-bar" >
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>
    <div class="wrapper-enclosure-home">
        <div class="new-header-wrapper">
            <div class="new-header-left">
                <div class="embla autoplay__embla">
                    <div class="autoplay">
                        <div class="embla__container">
                            <% if(movies){%>
                                <% movies.forEach((movie, index)=>{%>
                                    <div class="embla__slide autoplay__slide" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 25, 39, 0.9)), url(https://image.tmdb.org/t/p/w1280/<%=movie.backdrop_path%>); background-size: cover; background-position: center">
                                        <div class="embla__slide__inner">
                                            <div class="new-movie-wrapper">
                                                <% if(movie.poster_path){%> 
                                                    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.name %>">
                                                <%}else if(movie.poster_path === null){%>
                                                    <img src="/poster-alt.png" alt="movie-poster">
                                                <% } %>
                                                    
                                                <div class="new-header-movie">
                                                    <h1 class="movie-title"><%= movie.name %></h1>
                                                    <% if(movie.overview.length > 60){%> 
                                                        <p class="clamp-synopsis">
                                                            <%= movie.overview%> 
                                                        </p>
                                                    <% }else{%>
                                                        <p class="no-clamp"><%= movie.overview%></p>
                                                    <% } %>  

                                                    <div class="swiper-btns new-header-btn">
                                                        <a  href="/tv/tv-shows/<%= movie.id %>" class="swiper-btn" role="button">More info</a>
                                                        <button class="swiper-btn header-trailer"><i class="fas fa-play"></i>Trailer</button>
                                                    </div>
                                                    <iframe class="video_player" width="500px" height="300px" src="https://www.youtube.com/embed/<%= headerVideos[index]?.key%>?enablejsapi=1&version=3&playerapiid=ytplayer"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>

                                            </div>
                                            
                                            
        
                                            
                                        </div>
                                    </div>

                               <% }) %> 
                                
                            <% } %> 
                            
                        </div>
                    </div>
                    <!-- Dots -->
                    <div class="embla__dots"></div>
    
                    <!-- Buttons -->
                    <button class="embla__button embla__button--prev circular-btn" type="button">
                        <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                            <path
                                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                            </path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next circular-btn" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                            <path
                                d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="simple-bar" class="new-header-right">
                <h2 class="sticky-header">Top Rated Tv Shows</h2>
                <div class="top-rated-wrapper">
                    <% if(airing_Today){%>
                        <% airing_Today.forEach((movie, index)=>{%>
                            <div class="top-rated-movie">
                                <% if(movie.poster_path){%> 
                                    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.name %>">
                                <%}else if(movie.poster_path === null){%>
                                    <img src="/poster-alt.png" alt="<%= movie.name %>">
                                <% } %>
                                <div>
                                    <h3 class="movie-title"><%= movie.name %></h3>
                                    <p>
                                        <%= movie.overview%> 
                                    </p>
                                    <div class="swiper-btns top-rated-btn">
                                        <a  href="/tv/tv-shows/<%= movie.id %>" class="swiper-btn" role="button">More info</a>
                                        <button class="swiper-btn header-trailer"><i class="fas fa-play"></i></button>
                                    </div>
                                    <iframe class="video_player" width="500px" height="300px" src="https://www.youtube.com/embed/<%= airingTodayVideos[index]?.key%>?enablejsapi=1&version=3&playerapiid=ytplayer"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                      

                                </div>


                            </div>

                        <%}) %> 

                    <%} %> 
                </div>
            </div>
        </div>

        <% list.forEach(item=>{%>
            <div class="featured add-top-margin">
                <div class="featured-title">
                    <h2><%= item.name %></h2>
                    <a  href="/tv/genres/<%= item.name%>">view all</a>
                </div>
                <% if(item.content){%>
                    <div class="embla ">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <% item.content.forEach(mov=>{%>
                                    <div class="embla__slide" >
                                        <div class="slider-inner-card featured-card embla__slide__inner viewed-card">
                                            <% if(mov.poster_path){%>
                                                <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                    <img src="https://image.tmdb.org/t/p/w500/<%= mov.poster_path %>" alt="<%= mov.title %>">
                                                </a>
                                                <%}else if(mov.poster_path === null){%>
                                                <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                    <img src="/poster-alt.png" alt="<%= mov.name %>">
                                                </a>
                                            <% } %>
                                            <div class="image-drop">
                                                <%if(mov.name){%>
                                                    <h3><%= mov.name%></h3>
                                                    <%}else {%>
                                                        <h3>n/a</h3>
                                                    <%}%> 
                                            </div>
                                        </div>
                                        
                                    </div>
                                <%}) %>                               
                            </div>
                
                        </div>
                        <button class="embla__button embla__button--prev list-btn" type="button">
                            <svg
                              class="embla__button__svg"
                              viewBox="137.718 -1.001 366.563 643.999"
                            >
                              <path
                                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                              ></path>
                            </svg>
                        </button>
                        <button class="embla__button embla__button--next list-btn " type="button">
                            <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                              <path
                                d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                              ></path>
                            </svg>
                        </button>
                          
                        
                    </div>
                <% } %> 
            </div>

        <% }) %> 
    </div>
    
</section>

<div class="movie-trailer">
    <div class="trailer-container">
        <div class="trailer-video">
            <iframe class="video_player" width="100%" height="100%" src=""  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <img class="close-trailer" src="/multiply.png" alt="close">  
    </div>
</div>


<section id="popular-movies">
    <div class="wrapper-enclosure">
        <div class="ads-banner" style="margin-bottom: 1.5rem; margin-top: -0.5rem;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                crossorigin="anonymous"></script>
            <!-- what2watch-ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9179075773135399"
                data-ad-slot="3348121714"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <% if(popularMovies){%>
            <div class="featured">
                <div class="featured-title">
                    <h2>Popular Tv Shows</h2>
                </div>
                <div class="embla ">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <% popularMovies.forEach(mov=>{%>
                                <div class="embla__slide" >
                                    <div class="slider-inner-card featured-card embla__slide__inner viewed-card">
                                        <% if(mov.poster_path){%>
                                            <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                <img src="https://image.tmdb.org/t/p/w500/<%= mov.poster_path %>" alt="<%= mov.title %>">
                                            </a>
                                            <%}else if(mov.poster_path === null){%>
                                            <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                <img src="/poster-alt.png" alt="<%= mov.name %>">
                                            </a>
                                        <% } %>
                                        <div class="image-drop">
                                            <%if(mov.name){%>
                                                <h3><%= mov.name%></h3>
                                                <%}else {%>
                                                    <h3>n/a</h3>
                                                <%}%> 
                                        </div>
                                    </div>
                                    
                                </div>
                            <%}) %>   
                        </div>
            
                    </div>
                    <button class="embla__button embla__button--prev list-btn" type="button">
                        <svg
                          class="embla__button__svg"
                          viewBox="137.718 -1.001 366.563 643.999"
                        >
                          <path
                            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                          ></path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next list-btn" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                          <path
                            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                          ></path>
                        </svg>
                    </button>
                      
                    
                </div>
            </div>
        
        <% } %>
        <div class="featured add-top-margin">
            <div class="featured-title">
                <h2>Comedy</h2>
                <a  href="/tv/genres/Comedy">view all</a>
            </div>
            <% if(comedy){%>
                <div class="embla ">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <% comedy.forEach(mov=>{%>
                                <div class="embla__slide" >
                                    <div class="slider-inner-card featured-card embla__slide__inner viewed-card">
                                        <% if(mov.poster_path){%>
                                            <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                <img src="https://image.tmdb.org/t/p/w500/<%= mov.poster_path %>" alt="<%= mov.title %>">
                                            </a>
                                            <%}else if(mov.poster_path === null){%>
                                            <a class="image" href="/tv/tv-shows/<%= mov.id %>" title="<%= mov.name %> ">
                                                <img src="/poster-alt.png" alt="<%= mov.name %>">
                                            </a>
                                        <% } %>
                                        <div class="image-drop">
                                            <%if(mov.name){%>
                                                <h3><%= mov.name%></h3>
                                                <%}else {%>
                                                    <h3>n/a</h3>
                                                <%}%> 
                                        </div>
                                    </div>
                                    
                                </div>
                            <%}) %>
                            <div class="embla__slide " >
                                <div class="embla__slide__inner see-more-upcoming ">
                                    <a href="/tv/genres/Comedy">View More >></a>
                                </div>
                            </div>
                            
                        </div>
            
                    </div>
                    <button class="embla__button embla__button--prev list-btn" type="button">
                        <svg
                          class="embla__button__svg"
                          viewBox="137.718 -1.001 366.563 643.999"
                        >
                          <path
                            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                          ></path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next list-btn" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                          <path
                            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                          ></path>
                        </svg>
                    </button>
                      
                    
                </div>
            <% } %> 
        </div>
        
        <div class="ads-banner" style="margin-top: 1.5rem;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9179075773135399"
                crossorigin="anonymous"></script>
            <!-- what2watch-ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9179075773135399"
                data-ad-slot="3348121714"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </div>
</section>






<%- include('partials/footer') %>
